.rewards-section .rewards-content {
    width: 90%;
    height: 80%;
    gap: 3rem;
}
.rewards-content .our-rewards {
    width: inherit;
    height: inherit;
    padding: 1rem 0.5rem;
    gap: 3rem;
}
.our-rewards .reward {
    width: 262px;
    height: 300px;
    border-radius: 15px;
    background-color: #FAF6E7;
    transform: translateY(40%);
}
.reward .reward-img {
    position: absolute;
    width: 255px;
    height: 255px;
    top: -40%;
    left: 1%;
    border-radius: 50%;
    overflow: hidden;
}
.reward .reward-description {
    position: absolute;
    max-width: 225px;
    bottom: 18%;
    left: 6%;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}