.headerEdit {
  margin-top: 40px;
  padding-bottom: 20px;
  margin-left: 30px;
  display: flex;
  white-space: nowrap; /* Keep names on a single line */
  overflow-x: scroll; /* Enable horizontal scrolling */
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-bottom: 1px solid #b6b6b6;
}
.categoryEditP {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 20px;
  color: #1e1e1eb2;
}
.categoryEditPChoosen {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 20px;
  color: #ffb92c;
}
