.rating-section {
    position: relative;
}
.rating-section .rating-content {
    position: absolute;
    width: 100%;
    height: 90%;
    bottom: 0;
    justify-content: space-between;
}
.rating-content .rating-header {
    position: relative;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
}
.rating-header .rating-image {
    position: absolute;
    bottom: 0
}
.rating-header .rating-image:first-child {
    left: 10%;
}
.rating-header .rating-image:last-child {
    right: 10%;
}
.rating-image .rating-img-box {
    width: 94px;
    height: 71px;
    border-radius: 15px;
    background-color: #E5E5E4;
    overflow: hidden;
}
.rating-img-box img {
    width: 50px;
    height: 50px;
}
.rating-image span {
    color: var(--primary);
    font-size: 20px;
}
.rating-content button, .story-content .story-text {
    margin-bottom: 3rem;
}
.rating-content .rating-area {
    max-width: 1200px;
    width: 100%;
    height: 60%;
    scroll-snap-type: x mandatory;
    display: grid;
    gap: 3rem;
    overflow-x: auto;
    scrollbar-width: none;
    padding-top: 20px ;
    padding-left: 340px;
    padding-right: 330px;
    box-sizing: border-box;
}

.rating-area .rating-box {
    width: 562px;
    height: 354px;
    justify-content: space-evenly;
    background-color: #FAF6E7;
    border-radius: 15px;
    box-sizing: border-box;
    transition: all ease .5s;
}
.rating-box.active {
    transform: scale(1.1);
    border: 2px solid var(--primary)
  }
.rating-box .stars {
    position: relative;
    width: 240px;
    height: 80px;
    color: #FFB92C;
}
.stars .-N4-star, .stars .-N5-star {
    position: absolute;
    font-size: 30px;
    bottom: 2px;
}
.stars .-N4-star {
    right: 12%;
}
.stars .-N5-star {
    left: 12%;
}
.stars .-N2-star, .stars .-N3-star {
    position: absolute;
    font-size: 40px;
    bottom: 20%;
}
.stars .-N2-star {
    left: 23%;
}
.stars .-N3-star {
    right: 23%;
}
.stars .-N1-star {
    position: absolute;
    font-size: 45px;
    bottom: 32%;
    left: 41%;
}
.rating-box h2 {
    font-size: 30px;
    font-weight: 500;
    color: var(--secondary);
}
.rating-box .comment {
    max-width: 377px;
    min-height: 100px;
    text-align: justify;
    font-size: 20px;
    line-height: 30px;
}
.rating-box .evaluation {
    font-size: 20px;
    font-weight: 500;
    color:var(--secondary);
    line-height: 30px;
}
.rating-content .rating-btn {
    width: 140px;
    height: 40px;
    border-radius: 15px;
    background-color: var(--primary);
    color: var(--secondary);
    border: none;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s; 
}
.rating-content .rating-btn:hover {
    background-color: hsl(38, 100%, 50%);
}
.rating-content .blur {
    position: fixed;
    width: 100%;
    top: 60px;
    bottom: 0;
    right: 0;
    left: 0;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
}
.blur .rating-area {
    width: 600px;
    height: 400px;
    border-radius: 15px;
    background-image: url(src/assets/formImages/login2.jpg);
    position: relative;
}
.rating-area .rating-area-content {
    position: absolute;
    top: 20px;
    right: 20px;
    left: 60px;
}
.rating-area-content .exit, .rating-area-content p, .rating-area-content .commentArea {
    margin-bottom: 2.2rem;
}
.rating-area-content .exit {
    position: relative;
    width: 100%;
    height: 20px;
}
.exit .exitIcon {
    position: absolute;
    right: 10px;
    font-size: 22px;
    cursor: pointer;
}
.exit .exitIcon:hover {
    font-size: 1.5rem;
    color: var(--primary);
    rotate: 180deg;
}
.rating-area-content p {
    max-width: 562px;
    height: 20px;
    font-size: 18px;
}
.commentArea {
    position: relative;
}
.commentArea .star-range {
    position: absolute;
    top: -5px;
    left: 5%;
    width: 150px;
    height: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.star-range .star {
    font-size: 25px;
    color: var(--primary);
}
.commentArea .userComment {
    width: 450px;
    height: 140px;
    background-color: #FAF6E7;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #1E1E1E80;
    padding: 1rem 2rem;
    resize: none;
}