.buttonsEditPrincipal {
  display: flex;
  height: 70px;
  margin-left: 35px;
}
.annulerButtonEdit {
  margin-left: 20px;
  margin-right: 20px;
  width: 248px;
  height: 40px;
  border-radius: 15px;
  color: #ffb92c;
  border: 2px solid #ffb92c;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sauvegarderButtonEdit {
  margin-left: 20px;
  margin-right: 20px;
  width: 174px;
  height: 40px;
  color: #1e1e1e;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb92c;
}
