.hero-container {
    position: relative
}
.background-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1
}
.hero-section {
    width: 100%;
    height: 684px;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-content {
    position: absolute;
    z-index: 3;
    gap: 5rem
}
.hero-content h1 {
    font-size: 90px;
    color: #fff;
    text-transform: uppercase;
}
.hero-content .hero-text {
    width: 840px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.hero-content .btn-explore {
    width: 240px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 15px;
    gap: 1rem;
    transition: 0.3s ease-out
}
.hero-content .btn-explore:hover {
    background-color: rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
}
.hero-section .btn-nextImage, .hero-section .btn-prevImage {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    background-color: transparent;
    color: #fff;
    z-index: 3;
}
.hero-section .btn-nextImage {
    right: 20px
}
.hero-section .btn-prevImage {
    left: 20px
}
.hero-section .btn-nextImage::after, .hero-section .btn-prevImage::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 33%;
    bottom: 0;
    background-color: #fff;
    transition: 0.5s ease-out
}
.hero-section .btn-nextImage:hover::after, .hero-section .btn-prevImage:hover::after {
   width: 33%; 
}