.totalPagee {
  scrollbar-width: none;
  overflow-x: hidden;
  background-color: #ffffff;
  height: calc(100vh - 60px);
  position: relative;
  z-index: 0px;
}

.backgroundImage {
  background-image: url("bg2.png");
  height: calc(100vh - 60px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: normal;
}
.headerr {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  padding: 15px;
}

.partOne {
  display: flex;
  align-items: center;
}
.titleTextoo {
  color: #1e1e1e;
  font-family: "PoppinsBold";
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
}

.lds-default,
.lds-default div {
  box-sizing: border-box;
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6.4px;
  height: 6.4px;
  background: currentColor;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 36.8px;
  left: 66.24px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22.08px;
  left: 62.29579px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11.30421px;
  left: 51.52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7.36px;
  left: 36.8px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11.30421px;
  left: 22.08px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22.08px;
  left: 11.30421px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 36.8px;
  left: 7.36px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 51.52px;
  left: 11.30421px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62.29579px;
  left: 22.08px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66.24px;
  left: 36.8px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62.29579px;
  left: 51.52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 51.52px;
  left: 62.29579px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.picDiv {
  display: flex;
  justify-content: center;
}
.imagePart {
  justify-content: center;
  flex: 1;
}
.ingredientItem {
  font-family: "PoppinsLight";
  font-weight: 300;
  font-style: italic;
}
.name,
.ingredient {
  font-family: "PoppinsBold";
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}
.discription {
  display: flex;
  justify-content: center;
  align-items: end;
  font-family: "PoppinsLight";
  font-weight: 300;
  font-style: italic;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}
.discriptionPart {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.commande {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 248px;
  height: 40px;
  border-radius: 15px;
  background-color: #ffb92c;
}
.contentPage {
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  justify-content: space-around;
}
@media (min-width: 950px) {
  .contentPage {
    display: flex;
  }
  .totalPagee {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar, if any */
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.add {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  border-radius: 15px;
  width: 138px;
  height: 40px;
  background-color: beige;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #000000;
  justify-content: space-between;
}
.addDiv {
  display: flex;
  justify-content: center;
}
.buttonQuantity {
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
  color: #000000;
}
.commandeButton {
  cursor: pointer;
  background-color: transparent;
  justify-content: space-between;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 138px;
  height: 40px;
}
.commandeDiv {
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.commanderr {
  color: #1e1e1e;
  font-family: "Poppins";
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  margin: 5px;
}
