.totalPage {
  position: relative;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0);
  background-image: url("./bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}

.totalPage .titleDiv {
  display: flex;
  padding: 40px;
  background-color: transparent;
  width: auto;
  justify-content: space-between;
}

.rightSide {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.partOne {
  display: flex;
  align-items: center;
}

.searchInput {
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #b6b6b6;
  background-color: #faf6e7;
  width: 20vw;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  max-width: 220px;
  text-align: left;
  color: #b6b6b6;
}

.searchInput:focus {
  outline: none;
}
.searchInputt {
  border: none;
  background-color: transparent;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  width: 80%;
}
.searchInputt:focus {
  outline: none;
}
.searchInputt::placeholder {
  color: #b6b6b6;
}
.searchImg {
  background-color: transparent;
  width: 15.95px;
  height: 17.49px;
  top: 106px;
  left: 907px;
  margin-left: 10px;
  margin-right: 10px;
}

.titleText {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  align-items: flex-start;
  margin: 0;
}
.backButton {
  background-color: transparent;
  border: none;
  width: 12px;
  height: 14px;
  margin-right: 40px;
}
.backButton:hover {
  cursor: pointer;
}
.partOne {
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
}
.insideSearch {
  display: flex;
}
.Items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingDiv {
  margin-top: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-default,
.lds-default div {
  box-sizing: border-box;
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6.4px;
  height: 6.4px;
  background: currentColor;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 36.8px;
  left: 66.24px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22.08px;
  left: 62.29579px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11.30421px;
  left: 51.52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7.36px;
  left: 36.8px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11.30421px;
  left: 22.08px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22.08px;
  left: 11.30421px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 36.8px;
  left: 7.36px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 51.52px;
  left: 11.30421px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62.29579px;
  left: 22.08px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66.24px;
  left: 36.8px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62.29579px;
  left: 51.52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 51.52px;
  left: 62.29579px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* .middleItem {
} */

.itemParagraph {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #1e1e1e;
}
.paragraphSpace {
  cursor: pointer;
  display: flex;
  background-color: #faf6e7;
  width: 248px;
  height: 52px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}
.itemImg {
  cursor: pointer;
  width: 248px;
  height: 297px;
  border-radius: 15px;
}
.item {
  margin: 10px;
  position: relative;
  z-index: 0;
}
.itemEmpty {
  flex-shrink: 0;
  margin: 10px;
  z-index: 0;
  height: 297px;
  width: 248px;
}
.Itemss {
  position: relative;
  align-items: center;
}
.middleItem {
  margin: 40px;
  align-items: top;
  justify-content: center;
}

.Itemss .sscrolingItemss .lleftArrow,
.rrightArrow {
  cursor: pointer;
  width: 38px;
  height: 38px;
  background-color: #ffb92c;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sscrolingItemss {
  position: absolute;
  top: 180px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
